/build/
doc/examples/book
obj-x86_64-linux-gnu
cffi/include
python/.eggs/
python/build/
python/dist/
python/notcurses-pydemo.1
python/notcurses-direct-pydemo.1
python/src/notcurses.egg-info/
python/src/_notcurses.so
tools/function-summary/out-*
rust/target
rust/Cargo.lock
*.pyc
*.so
*.swp
*.swo
