Source: notcurses
Priority: optional
Maintainer: Nick Black <dankamongmen@gmail.com>
Build-Depends:
 cargo,
 clang,
 cmake (>= 0.40.0),
 debhelper-compat (= 12),
 dh-python (>= 4.20191017),
 dh-sequence-python3,
 doctest-dev,
 libavformat-dev (>= 7:4.2.1),
 libavutil-dev (>= 7:4.2.1),
 libclang-dev,
 libncurses-dev,
 libswscale-dev (>= 7:4.2.1),
 llvm-dev,
 pandoc (>= 1.19.2.4),
 pkg-config,
 python3-cffi (>= 1.13.2),
 python3-dev,
 python3-setuptools (>= 44.0.0),
Standards-Version: 4.5.0
Section: libs
X-Python3-Version: >= 3.7
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-python
Homepage: https://nick-black.com/dankwiki/index.php/notcurses
Vcs-Browser: https://github.com/dankamongmen/notcurses
Vcs-Git: https://github.com/dankamongmen/notcurses.git

Package: libnotcurses++-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libnotcurses++1 (= ${binary:Version}),
 libnotcurses-dev (>= ${binary:Version}),
 ${misc:Depends},
Description: Character graphics and TUI library (C++ development)
 notcurses facilitates the creation of modern TUI programs,
 making full use of Unicode and 24-bit direct color. It presents
 an API similar to that of Curses, and rides atop Terminfo.
 .
 These files are necessary for C++ development using notcurses.

Package: libnotcurses++1
Architecture: any
Multi-Arch: same
Recommends: ncurses-term
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Character graphics and TUI library (C++ wrappers)
 notcurses facilitates the creation of modern TUI programs,
 making full use of Unicode and 24-bit direct color. It presents
 an API similar to that of Curses, and rides atop Terminfo.
 .
 These files underlie the C++ wrappers for notcurses.

Package: libnotcurses-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libavformat-dev,
 libncurses-dev,
 libnotcurses1 (= ${binary:Version}),
 ${misc:Depends},
Description: Character graphics and TUI library (development)
 notcurses facilitates the creation of modern TUI programs, making
 full use of Unicode and 24-bit direct color. Its API is similar
 to that of NCURSES, but extends that with z-buffering, rendering
 of images and video using ffmpeg, alpha blending, widgets, palette
 fades, resize awareness, and multithreading support.
 .
 These files are necessary for C development using notcurses.

Package: libnotcurses1
Architecture: any
Multi-Arch: same
Recommends: ncurses-term
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Character graphics and TUI library
 notcurses facilitates the creation of modern TUI programs, making
 full use of Unicode and 24-bit direct color. Its API is similar
 to that of NCURSES, but extends that with z-buffering, rendering
 of images and video using ffmpeg, alpha blending, widgets, palette
 fades, resize awareness, and multithreading support.

Package: notcurses-bin
Architecture: any
Multi-Arch: foreign
Section: graphics
Depends:
 python3-notcurses (>= ${source:Version}),
 ncurses-term,
 notcurses-data (= ${source:Version}),
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
Description: Character graphics and TUI library demos
 notcurses facilitates the creation of modern TUI programs,
 making full use of Unicode and 24-bit direct color. It presents
 an API similar to that of Curses, and rides atop Terminfo.
 .
 These utilities from the notcurses project include notcurses-demo
 (a demonstration of various libnotcurses capabilities) and
 notcurses-view (a character mode multimedia player), among other
 tools. Unit tests are furthermore bundled as notcurses-tester,
 while notcurses-pydemo verifies the notcurses Python wrappers.

Package: notcurses-data
Architecture: all
Multi-Arch: foreign
Section: graphics
Depends: ncurses-term, ${misc:Depends}
Description: Multimedia used by notcurses-bin
 notcurses facilitates the creation of modern TUI programs,
 making full use of Unicode and 24-bit direct color. It presents
 an API similar to that of Curses, and rides atop Terminfo.
 .
 This package contains multimedia used by notcurses-demo
 and notcurses-tester from the notcurses-bin package.

Package: python3-notcurses
Section: python
Architecture: any
Multi-Arch: no
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Provides: ${python3:Provides}
Description: Character graphics and TUI library (Python)
 notcurses facilitates the creation of modern TUI programs,
 making full use of Unicode and 24-bit direct color. It presents
 an API similar to that of Curses, and rides atop Terminfo.
 .
 These files are necessary for Python development using notcurses.
