Source: notcurses
Priority: optional
Maintainer: Nick Black <dankamongmen@gmail.com>
Build-Depends: debhelper-compat (= 12), cmake (>= 3.13), pkg-config,
 libgtest-dev (>= 1.9.0), libncurses-dev (>= 6.1), libavformat-dev (>= 57.0),
 libswscale-dev (>= 5.0), libavutil-dev (>= 56.0)
Standards-Version: 4.4.1.1
Section: libs
Homepage: https://nick-black.com/dankwiki/index.php/notcurses
Vcs-Browser: https://github.com/dankamongmen/notcurses
Vcs-Git: https://github.com/dankamongmen/notcurses.git

Package: libnotcurses-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libnotcurses0 (= ${binary:Version}), ${misc:Depends}, libavformat-dev,
 libncurses-dev
Description: Development files for notcurses
 Files necessary for developing programs using notcurses.

Package: libnotcurses0
Architecture: any
Multi-Arch: same
Recommends: ncurses-term (>= 6.1)
Depends:${shlibs:Depends}, ${misc:Depends}
Description: Shared libraries for notcurses TUI
 notcurses facilitates the creation of modern TUI programs,
 making full use of Unicode and 24-bit direct color. It presents
 an API similar to that of Curses, and rides atop libtinfo.

Package: notcurses-bin
Architecture: any
Multi-Arch: foreign
Depends:${shlibs:Depends}, ${misc:Depends}, ncurses-term (>= 6.1)
Description: Binaries from libnotcurses
 notcurses facilitates the creation of modern TUI programs,
 making full use of Unicode and 24-bit direct color. It presents
 an API similar to that of Curses, and rides atop libtinfo.
 .
 These utilities from the notcurses project include notcurses-demo,
 notcurses-view, and notcurses-input.
