#!/usr/bin/make -f

DEB_HOST_MULTIARCH?=$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

export PYBUILD_NAME=notcurses

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DDFSG_BUILD=ON

override_dh_auto_install:
	dh_auto_install -B $(BUILDDIR)
	rm -rf debian/tmp/usr/lib/python3/dist-packages/__pycache__
