#!/usr/bin/make -f

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake

# dh_auto_test -O--buildsystem=cmake -O--no-parallel
# Don't try to run ncurses tests
override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	cd obj-x86_64-linux-gnu && env -u TERM make test
endif
